<main>
<div class="bg-image">
  <div class="text">
    <% if user_signed_in? %>
      <%= link_to(new_main_issue_path, class: 'shiny-btn') do %>
        <span>イシューを特定する</span>
      <% end %>
      <div class="list-of-issue">
        <%= "イシューリスト" %>
      </div>
      <ul class='main_issue-lists'>
        <% @main_issue.each do |main_issue| %>
        <% if current_user.id == main_issue.user_id %>
          <li class='main_issue'>
            <%= link_to main_issue_sub_issues_path(main_issue.id) do %>
              <div class="main-issue-title">
                <%= main_issue.title %>
              </div>
            <% end %>
          </li>
        <% end %>
        <% end %>
      </ul>
    <% else %>
      <h1>クリティカルシンキング とは</h1>
        <p>社内会議で通したい企画案。何をどう整理すればいい？</p>
        <p>何を言いたいのかわからないと最近よく言われてしまう…</p>
        <p>このプランで行くと決めたのに、自信が持てないのはなぜ？</p>
        <p>課題を前に悩むばかりで、一向に解決策が打ち出せない</p>
    <% end %>
  </div>
</div>
</main>