<div class="bg-image">
  <div class="text">
    <div class='main-issue-form'>
      <%=form_with model: @main_issue, local: true do |f|%>
        <%= f.label :イシューを特定する, class: 'main-issue-form__label'%>
        <div class='main-issue-form__field--right'>
          <%= f.text_area :title, class: 'main-issue_name main-issue-form__input', placeholder: 'イシューを入力して下さい'%>
        </div>
        <div class='main-issue-form__field'>
        <%= f.submit class: 'main-issue--form__action-btn'%>
        </div>
        <p>イシューとは、「考えやすい」ことではなく、「考えるべき」こと。</p>
        <p>イシューは「決まる」ものではなく、「決める」もの</p>
        <p>なぜそれを考えるのか、本当にそれを考える必要があるのか、</p>
        <p>他に考えるべきことはないのか、意義を確認する、取捨選択する</p>
      <% end %>
    </div>
  </div>
</div>

