.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000;
}


/* ここから下がボタンのCSS　*/
.btn-shine {
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

.btn-shine:hover {
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
}


/* ここはコピーしなくてOK　*/
.container-02 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e00364;
}

/* ここから下がボタンのCSS　*/
.btn-shine.is-pink:hover {
  text-shadow: 2px 2px 3px #e00364;/* text-shadowを背景色に変更する*/
}

/* 背景画像のCSS　*/
.bg-image {
  background: url(critical_thinking_top.jpg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* 画像を暗くするオーバーレイ */
.bg-image::before {
  content: '';
  /* ↓暗いオーバーレイを半透明で配置 */
  background-color: rgba(0, 0, 0, 0.8);
  /* ↓全体を覆うように配置 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
/* テキストを中央寄せ */
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}