<main>
<div class="wrapper">
  <div class="side-bar">
    <aside id="sub-area">
      <ul>
        <li class="step"><a href="#area-1" class="step2">１．イシューを特定する</a></li>
        <li class="step"><a href="#area-2" class="step2">２．枠組みを考える</a></li>
        <li class="step"><a href="#area-3" class="step2">３．組み直した枠組みに対して論理構造を考える。</a></li>
        <li class="step"><a href="#area-4" class="step2">４．メッセージを考える</a></li>
        <li class="step"><a href="#area-5" class="step2">５．全体をチェックする</a></li>
      </ul>
    </aside>
  </div>

  <div class="issue-tree">
    <div class="issue-title" data-en="ISSUE">
    </div>

    <section class="scroll-point" id="area-1">
      <h3><span>01</span>イシューを特定する</h3>
      <div>相手の立場で再確認し、必要に応じて相手の立場に立ってイシューを見つめ直す。</div>
    </section>

    <section class="scroll-point" id="area-2">
    <h3><span>02</span>枠組みを考える</h3>
    <div>相手の認識・関心・反応に答える論点を枠組みとして押さえる。</div>
    </section>

    <section class="scroll-point" id="area-3">
    <h3><span>03</span>組み直した枠組みに対して論理構造を考える。</h3>
    <div>課題解決ステップで検討した仮説や根拠をそのまま当てはめる、修正して活用する、</div>
<div>新たに情報を集めるなどして、必要に応じて再構成する。</div>
    </section>

    <section class="scroll-point" id="area-4">
    <h3><span>04</span>メッセージを考える</h3>
    <div>より納得・共感を得やすいように、相手の感情に配慮して表現する。</div>
    <div>抽象化しすぎず、具体的な言葉で表現する。</div>
    </section>

    <section class="scroll-point" id="area-5">
    <h3><span>05</span>全体をチェックする</h3>
    <div>相手の立場に立って考えられているかをチェックする。</div>
    </section>

  </div>
</div>
</main>